// .card-movieview{
//     font-family: 'Times New Roman', Times, serif;
//     padding: 10px;
//     line-height: 20px;
//     font-size: 16px;
//     text-align: justify;
// }

.movie_view{
    background: black;
    height: 100vh;

}

.movieview-detail{
    padding: 7px;
}

.movieview-image{
    width: 40%;
}