
.login-button{
    background: black;
    padding: 3px;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    color: whitesmoke;
        &:hover{
            color: black;
            background: white;
        }
}

.login-view{
    height: 100vh;
    
}

.register-link{
    color: rgb(49, 197, 231);
}
