#formUsername{
    margin-bottom: 20px;
}

.login-button{
    background: crimson;
    padding: 10px;
    border-radius: 12px;
    height: 40px;
    color: whitesmoke;
}

.regieter-link{
    position: relative;
    left: 35px;
   
}