
.login-button{
    background: black;
    padding: 3px;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    color: whitesmoke;
        &:hover{
            color: black;
            background: white;
        }
}

.login-view{
    position: relative; 
    top: 70px;  
    height: 100vh;


}

.register-link{
    color: red;
}
