 $color1:#f5f5f5;
 $color2:#dc143c;

.nav-collapse{
    position: relative;
    top: 16px;
   
}
.logout_button {
    position: relative;
    top: -7px;
    text-decoration: none;  
    background: $color2;
    color: $color1; 
    font-size: 14px;
    padding: 5px;
    border-radius: 12px;
    height: 30px;

}

.nav_profile{
    position: relative;
    top: -2px;
    margin-right: 5px;
}
.brand{
    position: relative;
    bottom:18px;
}
.login-signup, p{
    color: $color1;
}
.user{
    color:$color1;
    margin-right: 5px;
}
.navlink {
    margin: 6px;
}
