.nav-collapse{
    position: relative;
    top: 16px;
   
}
.logout_button{
    position: relative;
    top: -7px;
    text-decoration: none;   
}
.brand{
    position: relative;
    bottom:18px;
}
.login-signup, p{
    color: whitesmoke;
}
.user{
    color:whitesmoke
}